body
{
	background-color:rgb(250,250,255);
	margin:0%;
	font-family:Helvetica;
}
p{
	padding: 0;
}
.borderright
{
	border-right:1px solid darkgrey;
}

#midlane
{
	display: block;
	background-color:white;
	border :1px solid darkgrey;
	width:95%;
	margin-left: 2.5%;
	margin-top:30px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
#bann
{
	width: 100%;
}

h1
{
	display: inline-block;
	text-align: center;
	border-bottom:1px solid black;
	width:70%;
	margin-left:15%;
	padding-bottom:9px;
	font-weight:normal;
	font-family:Optima;
	margin-top: 30px;
	margin-bottom: 30px;
}

#wrap
{
	display: block;
	width: 85%;
	margin-left:7.5%;
	border:2px solid darkgrey;
	padding:10px;
}


.pdflink{
	width: 70%;
	border: 1px solid grey;
	margin-left: 15%;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
}
.pdflink p {
	margin: 0;
}
#wrap2
{
	display: block;
	width:100%;
	border-top:1px solid darkgrey;
	border-bottom:1px solid darkgrey;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;

}
.program{
	border: 2px double darkgrey;
	width: 90%;
	margin-left: 5% ;
	margin-bottom: 25px;
}

.program h2{
	text-align: center;
}

.program p{
	margin-left: 2%;
	margin-right: 2%;
}